[submodule "libs/printf"]
	path = libs/printf
	url = git@github.com:fkyros/printf.git
[submodule "libs/libft"]
	path = libs/libft
	url = git@github.com:fkyros/libft.git
[submodule "minilibx-linux"]
	path = libs/minilibx-linux
	url = git@github.com:42Paris/minilibx-linux.git
